asgiref==3.8.1
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
dotenv==0.9.9
mysqlclient==2.2.7
pillow==11.2.1
PyMySQL==1.1.1
python-decouple==3.8
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.14.0
